@import "tailwindcss";

@theme {
  --color-background: #09090B;
  --color-surface: #15151C;
  --color-surfaceAlt: #1D1D26;
  --color-primary: #E11D48;
  --color-accent: #F43F5E;
  --color-gold: #F5C451;
  --color-textPrimary: #F8FAFC;
  --color-textMuted: #A1A1AA;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
}
